<div class="site-wrapper" ng-controller="LandingPageController">
  <div class="site-wrapper-inner">
	<div class="cover-container">
	  <div class="masthead clearfix">
		<div class="inner">
		  <h3 class="masthead-brand">MovieScribe</h3>
		</div>
	  </div>

	  <div class="inner cover">
		<h1 class="cover-heading">Discover great movies recommendations.</h1>
		<br>
		<p class="lead" ng-init="init()">
		  <a class="btn btn-lg btn-default" ng-click="facebookLogin()">Login with Facebook</a>
		</p>
	  </div>

	  <div class="mastfoot">
		<div class="inner">
		  <p>B19 - Alexandru Barbu, Andrei Constantinescu, Cristian Ivan, Vlad Radu, Gabriel Gabor.</p>
		</div>
	  </div>

	</div>
  </div>
</div>