<div>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-main" account-options>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">Moviescribe</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{currentSession.email}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href ng-click="goToProfile()">Profile</a></li>
							<li class="divider"></li>
							<li ng-click="logout()"><a href>Sign out</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div ng-show="loading" class="loading-view">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
			<h3>Loading the best app you've ever seen</h3>
		</div>
		<div class="starter-template"  ng-hide="loading">
			<div class='welcome'>
				<h1>Welcome {{ currentSession.firstName }}</h1>
			</div>
			<div>
				<form ng-submit="searchMovie()" class="input-group" action="">
					<input type="text" class="form-control" placeholder="Start by typing a movie name" ng-model="searchInput">
					<span class="input-group-btn">
						<input type="button" class="btn btn-info" value="Search" ng-click="searchMovie()">
					</span>
				</form>

				<div ng-show="displayMovies" class="recommendation-result">
					<div ng-repeat="movie in results" class="well">
						<div class="row" recommendation-options>
							<div class='movie-title'>{{movie.Title}}</div>
							<div class="col-sm-6 movie">
								<img class='movie-poster' style='width:100%; height: auto' ng-src="{{movie.Poster}}">
							</div>
							<div class="col-sm-6">
								<div class="basic-info">
								</div>

								<button class="votes" ng-click="likeMovie(movie)">
									<i style='vertical-align: middle;' class="fa fa-thumbs-o-up fa-2x"></i>
									<span>Like!</span>
								</button>
								<div class="release-info">
									<span class='movie-year'>({{movie.Year}})</span>
									<span class='movie-runtime'>{{movie.Runtime}}</span>
									<span class='movie-genre'>{{movie.Genre}}</span>
									<span class='movie-released'>{{movie.Released}}</span>
									<span class='movie-country'>{{movie.Country}}</span>
									<span class='movie-language'>{{movie.Language}}</span>
								</div>
								<div class="rating-info">
							<span class="imdb">
								<span class='movie-ladder'>IMDB Rating:</span>
								<span class='movie-imdbRating'>{{movie.imdbRating}}</span>
							</span>
							<span class="awards">
								<a class='movie-imdbLink' href='http://www.imdb.com/title/{{movie.imdbID}}'>IMDB Link</a>
							</span>
							<div class="more-info">
								<div class='movie-actors'>
									<h4>Starring</h4>
									{{movie.Actors}}</div>
								<div class='movie-director'>
									<h4>Directed by</h4>
									{{movie.Director}}</div>
								<div class='movie-plot'>
									<h4>Plot</h4>{{movie.Plot}}</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-show="results && !moviesAvailable">
					<h3>No results available!</h3>
				</div>
			</div>
		</div>
	</div>
	</div>
