<div>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-main" account-options>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Moviescribe</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href ng-click="showRecommendations()">Show recommendations</a></li>
                    <li><a href ng-click="goToTopsPage()">Tops</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{currentSession.email}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href ng-click="goToProfile()">Profile</a></li>
                            <li class="divider"></li>
                            <li ng-click="logout()"><a href>Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container welcome-content">
        <div ng-show="welcomeDone">
            <h2>Thank you. <a class="btn btn-default" href ng-click="goToMainPage()">Done</a></h2>
        </div>


        <div ng-show="loading" class="loading-view">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
            <h3>Loading amazing stuff.</h3>
        </div>
        <div ng-hide="loading" recommendation-options>
            <button class="btn btn-default welcome-title" ng-click="goToMainPage()">Done</button>
            <h2 class="welcome-title" style='margin-top: 2em;'>Please select 5 movies you like.</h2>
            <h4 class="welcome-title" style=' margin-bottom: 1em'>Total movies liked: {{ likedMovies.length }}</h4>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h2>Top 10 Action movies</h2>
              </div>
              <div class="panel-body">

            <table class="table table-hover table-top">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Like the movie</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in charts.Action">

                    <td><div ng-click="openPopupWithMovie(item)">{{ item.Title }}</div></td>
                    <td>
                        <a href ng-click="likeMovie(item)">
                            <h5 ng-hide="IDLikedMovies[item.imdbID]"><span class="label label-primary">Like</span></h5>
                        </a>
                        <span ng-show="IDLikedMovies[item.imdbID]"><b><i style='vertical-align: middle;' class="fa fa-thumbs-o-up fa-2x"></i></b></span>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
          </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h2>Top 10 Horror movies</h2>
              </div>
              <div class="panel-body">
                <table class="table table-hover table-top">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Like</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in charts.Horror">
                        <td><div ng-click="openPopupWithMovie(item)">{{ item.Title }}</div></td>
                        <td>
                            <a href ng-click="likeMovie(item)">
                              <h5 ng-hide="IDLikedMovies[item.imdbID]"><span class="label label-primary">Like</span></h5>
                            </a>
                            <span ng-show="IDLikedMovies[item.imdbID]"><b><i style='vertical-align: middle;' class="fa fa-thumbs-o-up fa-2x"></i></b></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h2>Top 10 Comedy movies</h2>
              </div>
              <div class="panel-body">
                <table class="table table-hover table-top">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Like</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in charts.Comedy">
                        <td><div ng-click="openPopupWithMovie(item)">{{ item.Title }}</div></td>
                        <td>
                            <a href ng-click="likeMovie(item)">
                              <h5 ng-hide="IDLikedMovies[item.imdbID]"><span class="label label-primary">Like</span></h5>
                            </a>
                            <span ng-show="IDLikedMovies[item.imdbID]"><b><i style='vertical-align: middle;' class="fa fa-thumbs-o-up fa-2x"></i></b></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h2>Top 10 Adventure movies</h2>
              </div>
              <div class="panel-body">

            <table class="table table-hover table-top">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Like</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in charts.Adventure">
                    <td><div ng-click="openPopupWithMovie(item)">{{ item.Title }}</div></td>
                    <td>
                        <a href ng-click="likeMovie(item)">
                          <h5 ng-hide="IDLikedMovies[item.imdbID]"><span class="label label-primary">Like</span></h5>
                        </a>
                        <span ng-show="IDLikedMovies[item.imdbID]"><b><i style='vertical-align: middle;' class="fa fa-thumbs-o-up fa-2x"></i></b></span>
                    </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>

        </div>
    </div>

</div>
